.Menu {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 20px 30px;
    justify-content: center;
    

    .Menu-item {
        border: 1px solid gray;
        display: grid;
        grid-template-columns: 1fr;

        .content {
            border: 1px solid gray;
            justify-self: center;
            align-self:center;
            width:200px;
        }
    }

    div:nth-child(4) {
        grid-column: 1/4;
        justify-self: center;
        width: 700px;
    }

    .Menu-adults{
        grid-column: 1/4;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap:30px;
    }

    // div:nth-child(5) {
    // //    grid-area: footer
    // }

    // div:nth-child(6) {
    //     // grid-area: footer
    // }
}